---
// Redirect to the first documentation page
export const prerender = true;
---

<meta http-equiv="refresh" content="0;url=/docs/introduction/01-my-documentations" />

<script>
  window.location.href = "/docs/introduction/my-documentations";
</script>

<body>
  <p>Redirecting to <a href="/docs/introduction/my-documentations">My Documentations</a>...</p>
</body>   