<div class="container">
  <h3>Cards with Subgrid</h3>
<pre><code>{
`.card--subgrid {
  @apply grid grid-rows-subgrid row-span-4 gap-8;
}`
}</code></pre>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="card-- card--subgrid">
      <h3>Small</h3>

      <p class="h1">$10</p>

      <p>Ideal for individuals and small teams just getting started.</p>

      <ul class="list-disc list-inside">
        <li>Feature 1</li>
        <li>Feature 2</li>
      </ul>
    </div>
    <div class="card-- card--subgrid">
      <h3>Medium</h3>

      <p class="h1">$25</p>

      <p>
        Perfect for growing businesses that need more power and support. This
        option includes additional features that will help you scale.
      </p>

      <ul class="list-disc list-inside">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
      </ul>
    </div>
    <div class="card-- card--subgrid">
      <h3>Large</h3>

      <p class="h1">$50</p>

      <p>For large organizations with advanced needs and dedicated support.</p>

      <ul class="list-disc list-inside">
        <li>Feature 1</li>
        <li>Feature 2</li>
        <li>Feature 3</li>
        <li>Feature 4</li>
      </ul>
    </div>
  </div>
</div>
<style>
  .card-- {
    background-color: #fff;
    & > * {
      background-color: #f0f0f0;
    }
  }
  .card--subgrid {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 1rem;
  }
</style>
