---
import Layout from "@/layouts/Layout.astro";

import Marquee from "./_Marquee.astro";
import CardsSubgrid from "./_CardsSubgrid.astro";
import CarouselSplide from "./_carousel--splide.astro";

---

<Layout title="others">
  <main class="max-w-full p-0">
    <header class="container">
      <h1>Components - Vanilla</h1>
      <p>
        This page contains a collection of components that are built using vanilla HTML, CSS, and JavaScript.
      </p>
    </header>

    <section id="marquee" class="bg-slate-800">
      <Marquee />
    </section>

    <section id="card-subgrid">
      <CardsSubgrid />
    </section>

    <section id="carousel" class="container">
      <CarouselSplide />
    </section>
  </main>
</Layout>
