---
// inspired by barba.js - https://barba.js.org/docs/getstarted/basic-transition/

import BaseLayout from "@/layouts/BaseLayout.astro";

const sketch_title = "View Transition";
---

<BaseLayout title={sketch_title}>
  <main>
    <h1>{sketch_title}</h1>
  </main>
</BaseLayout>