---
import { getCollection, getEntry } from "astro:content";
import type { CollectionEntry } from 'astro:content';

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  // filter out draft posts
  const publishedPosts = allPosts.filter((post) => !post.data.draft);

  return publishedPosts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry?.data.title} description={entry?.data.description}>
  <main>
    <div class="container">
      <article id="blog-single">
        {entry ? <Content /> : <p>Post not found.</p>}
      </article>
    </div>
  </main>
</Layout>