---
import { getCollection, render } from "astro:content";

import Layout from "@/layouts/BaseLayout.astro";
import SingleSidebar from "../../components/SingleSidebar.astro";

// Fetch all posts and generate paths for each post
export async function getStaticPaths() {
  const allPosts = await getCollection("ob_blog");

  // Filter out draft posts
  const publishedPosts = allPosts.filter((post) => !post.data.draft);

  return publishedPosts.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
---

<Layout title={entry?.data.title} description={entry?.data.description}>
  <main>
    <div class="container">
      <article>
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <!-- Back Button -->
            <button class="btn btn-light btn-sm my-3" onClick="history.back()">
              <i class="bi bi-arrow-left"></i> back
            </button>

            <Content />
          </div>
        </div>
      </article>
    </div>
  </main>
</Layout>
