---
import Layout from "../../layouts/Layout.astro";

import EntriesList from "../../components/EntriesList.astro";
import { getCollection } from "astro:content";

const getObPosts = await getCollection("ob_blog");
---

<Layout>
  <main>
    <section class="container">
      <h1>All Blog Posts</h1>

      <ul>
        {
          getObPosts.map((post) => (
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{post.data.title}</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>

                <a class="stretched-link" href={`/blog/${post.id}`} />
              </div>
            </div>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
