<div class="container">
        <header>
          <h2>Layout System</h2>
          <p>Sizing based on GoldenRatio</p>
        </header>

        <div class="grid-- md:grid-cols-3">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>1fr</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>1fr</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>1fr</span>
          </div>
        </div>
        <div class="grid-- grid--content_sidebar">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>61.8</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>38.2</span>
          </div>
        </div>
        <div class="grid-- grid--sidebar_content">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>38.2</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>61.8</span>
          </div>
        </div>
        <div class="grid-- grid--sidebar_content_sidebar">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>38.2</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>61.8</span>
          </div>
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>38.2</span>
          </div>
        </div>

        <div class="grid-- grid--content mx-auto">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>61.8</span>
          </div>
        </div>
        <div class="grid-- grid--sidebar mx-auto">
          <div class="bg-red p-2 rounded-lg mb-2">
            <span>38.2</span>
          </div>
        </div>

        <hr class="my-4" />

        <div class="grid-- text-xs" style="grid-template-columns: 1fr;">
          <div class="bg-greylight p-2 rounded-lg w-[100%]">
            <span>100%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[61.8%]">
            <span>61.8%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[38.2%]">
            <span>38.2%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[23.6%]">
            <span>23.6%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[14.6%]">
            <span>14.6%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[9%]">
            <span>9%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[5.6%]">
            <span>5.6%</span>
          </div>
          <div class="bg-greylight p-2 rounded-lg w-[3.4%]">
            <span>3.4%</span>
          </div>
        </div>
      </div>