<div
  class="card-- texture-- grid grid-cols-[repeat(4,auto)] gap-4 justify-center"
>
  <img
    src="/assets/logo-jy-milk.svg"
    alt="Logo JY Milk"
    width="128"
    height="128"
  />
  <img
    src="/assets/logo-jy-red.svg"
    alt="Logo JY Red"
    width="128"
    height="128"
  />
  <img
    src="/assets/logo-jy-yellow.svg"
    alt="Logo JY Yellow"
    width="128"
    height="128"
  />
  <img
    src="/assets/logo-jy-green.svg"
    alt="Logo JY Green"
    width="128"
    height="128"
  />
  <img
    src="/assets/logo-jy-blue.svg"
    alt="Logo JY Blue"
    width="128"
    height="128"
  />
  <img src="/assets/logo-jy-2a.svg" alt="Logo JY 2a" width="128" height="128" />
  <img
    src="/assets/logo-jy-grey.svg"
    alt="Logo JY Grey"
    width="128"
    height="128"
  />
  <img
    src="/assets/logo-jy-greylight.svg"
    alt="Logo JY Greylight"
    width="128"
    height="128"
  />
</div>
