<div class="card-- texture-- grid--" style="background: var(--2a);">
    <!-- White Logos -->
    <div class="flex justify-center items-center gap-4">
        <img src="/brand/logo-jy-white.png" alt="Logo JY White" width="128" height="128" />
        <img src="/brand/logo-jy-white-256.png" alt="Logo JY White 256px" width="96" height="96" />
        <img src="/brand/logo-jy-white-128.png" alt="Logo JY White 128px" width="64" height="64" />
    </div>

    <!-- Black Logos -->
    <div class="flex justify-center items-center gap-4 card--" style="background: var(--color-milk);">
        <img src="/brand/logo-jy-black.png" alt="Logo JY Black" width="128" height="128" />
        <img src="/brand/logo-jy-black-256.png" alt="Logo JY Black 256px" width="96" height="96" />
        <img src="/brand/logo-jy-black-128.png" alt="Logo JY Black 128px" width="64" height="64" />
    </div>

    <!-- Blue Logos -->
    <div class="flex justify-center items-center gap-4">
        <img src="/brand/logo-jy-blue.png" alt="Logo JY Blue" width="128" height="128" />
        <img src="/brand/logo-jy-blue-256.png" alt="Logo JY Blue 256px" width="96" height="96" />
        <img src="/brand/logo-jy-blue-128.png" alt="Logo JY Blue 128px" width="64" height="64" />
    </div>

    <!-- Grey Logos -->
    <div class="flex justify-center items-center gap-4">
        <img src="/brand/logo-jy-grey.png" alt="Logo JY Grey" width="128" height="128" />
        <img src="/brand/logo-jy-grey-256.png" alt="Logo JY Grey 256px" width="96" height="96" />
        <img src="/brand/logo-jy-grey-128.png" alt="Logo JY Grey 128px" width="64" height="64" />
    </div>

    <!-- Red Logos -->
    <div class="flex justify-center items-center gap-4">
        <img src="/brand/logo-jy-red.png" alt="Logo JY Red" width="128" height="128" />
        <img src="/brand/logo-jy-red-256.png" alt="Logo JY Red 256px" width="96" height="96" />
        <img src="/brand/logo-jy-red-128.png" alt="Logo JY Red 128px" width="64" height="64" />
    </div>

    <!-- Yellow Logos -->
    <div class="flex justify-center items-center gap-4">
        <img src="/brand/logo-jy-yellow.png" alt="Logo JY Yellow" width="128" height="128" />
        <img src="/brand/logo-jy-yellow-256.png" alt="Logo JY Yellow 256px" width="96" height="96" />
        <img src="/brand/logo-jy-yellow-128.png" alt="Logo JY Yellow 128px" width="64" height="64" />
    </div>
</div>