---
import { Icon } from "astro-icon/components";

// https://icon-sets.iconify.design/devicon/
// https://icon-sets.iconify.design/skill-icons/
// https://icon-sets.iconify.design/logos/
---

<h3>Core</h3>
<div class="flex flex-wrap gap-4">
  <!-- <Icon name="skill-icons:html" />
  <Icon name="skill-icons:css" />
  <Icon name="skill-icons:javascript" />

  <Icon name="skill-icons:git" />

  <Icon name="skill-icons:linux-light" />
  <Icon name="skill-icons:linux-dark" />

  <Icon name="skill-icons:obsidian-dark" />
  <Icon name="skill-icons:obsidian-light" /> -->
</div>
<h3>Proficient:</h3>
<div class="flex flex-wrap gap-4">
  <!-- <Icon name="skill-icons:astro" />
  <Icon name="skill-icons:bootstrap" />

  <Icon name="skill-icons:wordpress" />

  <Icon name="skill-icons:bash-dark" />
  <Icon name="skill-icons:bash-light" />

  <Icon name="skill-icons:figma-dark" />
  <Icon name="skill-icons:figma-light" />
  <Icon name="skill-icons:github-dark" />
  <Icon name="skill-icons:github-light" />
  <Icon name="skill-icons:gmail-dark" />
  <Icon name="skill-icons:gmail-light" />
  <Icon name="skill-icons:typescript" />
  <Icon name="skill-icons:markdown-dark" />
  <Icon name="skill-icons:markdown-light" />
  <Icon name="skill-icons:mysql-dark" />
  <Icon name="skill-icons:mysql-light" />
  <Icon name="skill-icons:nodejs-dark" />
  <Icon name="skill-icons:nodejs-light" />
  <Icon name="skill-icons:npm-dark" />
  <Icon name="skill-icons:npm-light" />

  <Icon name="skill-icons:vite-dark" />
  <Icon name="skill-icons:vite-light" />
  <Icon name="skill-icons:vscode-dark" />
  <Icon name="skill-icons:vscode-light" />
  <Icon name="skill-icons:vuejs-dark" />
  <Icon name="skill-icons:vuejs-light" />

  <Icon name="skill-icons:p5js" />
  <Icon name="devicon:playwright" />
  <Icon name="skill-icons:svg-dark" />
  <Icon name="skill-icons:svg-light" />

  <Icon name="skill-icons:tailwindcss-dark" />
  <Icon name="skill-icons:tailwindcss-light" /> -->
</div>

<h3>Learning</h3>
<div class="flex flex-wrap gap-4">
  <!-- <Icon name="skill-icons:docker" />

  <Icon name="skill-icons:cloudflare-light" />
  <Icon name="skill-icons:cloudflare-dark" />
  <Icon name="skill-icons:d3-dark" />
  <Icon name="skill-icons:d3-light" />

  <Icon name="skill-icons:debian-light" />
  <Icon name="skill-icons:debian-dark" />

  <Icon name="skill-icons:deno-dark" />
  <Icon name="skill-icons:deno-light" />

  <Icon name="skill-icons:golang" />
  <Icon name="skill-icons:grafana-dark" />
  <Icon name="skill-icons:grafana-light" />
  <Icon name="skill-icons:prometheus" />
  <Icon name="skill-icons:neovim-dark" />
  <Icon name="skill-icons:neovim-light" />
  <Icon name="skill-icons:raspberrypi-dark" />
  <Icon name="skill-icons:raspberrypi-light" />
  <Icon name="skill-icons:sqlite" />
  <Icon name="skill-icons:supabase-dark" />
  <Icon name="skill-icons:supabase-light" />

  <Icon name="devicon:digitalocean-wordmark" />
  <Icon name="devicon:fedora" />
  <Icon name="devicon:filezilla-wordmark" />
  <Icon name="devicon:inkscape-wordmark" />
  <Icon name="skill-icons:jquery" />
  <Icon name="skill-icons:php-dark" />
  <Icon name="skill-icons:php-light" /> -->
  <pre>{`<Icon>n8n</Icon>`}</pre>
</div>

<h3>Familiar / Others</h3>
<div class="flex  gap-4">
  <!-- <Icon name="skill-icons:python-dark" />
  <Icon name="skill-icons:python-light" /> -->
  <a target="_blank" href="https://motion.dev/">https://motion.dev/</a>
  
</div>

<h3>Logos</h3>
<div class="flex flex-wrap gap-4">
  <!-- <Icon name="logos:whatsapp-icon" />
  <Icon name="logos:linkedin-icon" />
  <Icon name="logos:google-maps" />
  <Icon name="logos:instagram-icon" />
  <Icon name="logos:facebook" />
  <Icon name="logos:linkedin" />
  <Icon name="logos:youtube-icon" />
  <Icon name="logos:google-gemini" /> -->
</div>

<style>
  svg {
    font-size: var(--text-8xl);
  }
  [data-icon^="logos:"],
  [data-icon^="devicon:"] {
    background: #f4f2ed;
    border-radius: 1.5rem;
    padding: 0.4rem;
    width: 1em;
    height: 1em;
    /* add dark mode */
  }
</style>
