<div class="container">
  <div class="card-- texture-- card--blue">
    <header>
      <h2>typography--</h2>
    </header>
    <div>
      <h1>Headings h1 / .h1</h1>
      <h2>Headings h2 / .h2</h2>
      <h3>Headings h3 / .h3</h3>
      <h4>Headings h4 / .h4</h4>
      <h5>Headings h5 / .h5</h5>
      <h6>Headings h6 / .h6</h6>
      <hr class="my-4" />
      <p>
        Body: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem
        praesentium nihil.
      </p>
      <p>
        Body: Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem
        praesentium nihil.
      </p>
      <p>
        This is a small font in p. <small
          >&lt;small&gt; Small: Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis
          eaque, exercitationem praesentium nihil.&lt;/small&gt;</small
        >
      </p>
      <p class="text-xs">Smaller than small.</p>
    </div>

    <hr class="my-8" />

    <div>
      <h3 class="font-wendy">Display Font: Wendy Neue</h3>
      <p class="font-wendy">
        This is a new display font for special use cases.
      </p>
    </div>
  </div>
</div>
