<div
  class="border-border-lighter w-fill relative mx-[12px] flex flex-col gap-4 rounded-2xl border p-4 sm:mx-4 md:mx-8 my-8"
>
  <div class="pointer-events-none grid grid-cols-3 grid-rows-1">
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-start justify-self-start"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg
    ><svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-start justify-self-center"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg
    ><svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-start justify-self-end"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg>
  </div><div
    class="grid-rows-auto w-fill grid grid-cols-2 place-items-center justify-center gap-4 md:grid-cols-4"
  >
    <div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <div
        class="group grid aspect-square h-[70%] animate-[spin_3s_linear_infinite] grid-cols-3 grid-rows-3 [&:has(.avatar:hover)]:[animation-play-state:paused]"
      >
        <a
          class="bg-surface-on-primary avatar flex cursor-pointer items-center justify-center rounded-full transition-opacity duration-200 [.group:has(.avatar:hover)_&:not(:hover)]:opacity-10 col-start-2 row-start-1"
          href="/creator/PVtzN141yph9OUEN"
          ><img
            src="https://d1ynhm1b70kdwn.cloudfront.net/avatars/452MF5BxHJ3CeEEmsdOGmHmPYp0FA0eKx4cCLWOh.jpg"
            alt="K"
            class="h-full w-full rounded-full"
          /></a
        ><a
          class="bg-surface-on-primary avatar flex cursor-pointer items-center justify-center rounded-full transition-opacity duration-200 [.group:has(.avatar:hover)_&:not(:hover)]:opacity-10 col-start-1 row-start-2"
          href="/creator/8z3DINUcfHMn3xQb"
          ><img
            src="https://d1ynhm1b70kdwn.cloudfront.net/avatars/gJskzDST01bDbVYnEBtE2RUiXzWXNCRJnhepCtQr.jpg"
            alt="K"
            class="h-full w-full rounded-full"
          /></a
        ><a
          class="bg-surface-on-primary avatar flex cursor-pointer items-center justify-center rounded-full transition-opacity duration-200 [.group:has(.avatar:hover)_&:not(:hover)]:opacity-10 col-start-3 row-start-2"
          href="/creator/FcLyUs3OPI2wBXmJ"
          ><img
            src="https://c.nothing.tech/avatars/1758624639156-QyxnCx_TiFaE3z-q.png"
            alt="H"
            class="h-full w-full rounded-full"
          /></a
        ><a
          class="bg-surface-on-primary avatar flex cursor-pointer items-center justify-center rounded-full transition-opacity duration-200 [.group:has(.avatar:hover)_&:not(:hover)]:opacity-10 col-start-2 row-start-3"
          href="/creator/jNaX13GTOV6xojLw"
          ><img
            src="https://c.nothing.tech/avatars/lVHMxasOZJ2fb7NCCAtsR.jpeg"
            alt="X"
            class="h-full w-full rounded-full"
          /></a>
      </div>
    </div><div class="col-span-1 row-span-1"></div><div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <a
        class="group grid aspect-[4/3] w-full grid-cols-7 grid-rows-1 overflow-hidden p-[16%]"
        href="detail/preset/eN8jOe3E4woOoISg"
        ><img
          src="https://c.nothing.tech/cameras/1758628828876-2n24g3zunmb.png"
          alt="Negative"
          class="z-10 col-start-3 col-end-6 row-start-1 row-end-2 h-full rounded-md object-cover transition-transform duration-600 ease-out group-hover:scale-120 md:rounded-xl"
        /><img
          src="https://c.nothing.tech/cameras/1758628829511-6sv4mvrgtd.jpeg"
          alt="Negative"
          class="col-start-1 col-end-4 row-start-1 row-end-2 h-full -rotate-[10deg] transform rounded-md object-cover transition-all duration-600 ease-out group-hover:-rotate-12 group-hover:opacity-50 md:rounded-xl"
        /><img
          src="https://c.nothing.tech/cameras/1758628829778-fj3lb8hjvlo.jpeg"
          alt="Negative"
          class="col-start-5 col-end-8 row-start-1 row-end-2 h-full rotate-[10deg] rounded-md object-cover transition-all duration-600 ease-out group-hover:rotate-12 group-hover:opacity-50 md:rounded-xl"
        /></a>
    </div><div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <a
        class="flex h-full w-full items-center justify-center"
        href="detail/app/2P69GRvYbiP1PGDH"
        ><img
          src="https://c.nothing.tech/screenshots/33734f004175945b62221da988de9d50.png"
          alt="CycleMark"
          class="mx-auto h-[60%] w-auto cursor-pointer rounded-[20px] object-cover transition-transform duration-600 ease-out hover:scale-115"
        /></a>
    </div><div
      class="col-span-2 row-span-1 flex items-center justify-center md:col-span-4"
    >
      <div class="flex max-w-[680px] flex-col gap-6">
        <p
          class="font-nTypeRegular text-text-primary relative mb-0 w-full shrink-0 text-center text-[44px] leading-[100%] font-thin whitespace-pre-wrap not-italic"
        >
          Come to play with Essential. <br /> Your digital Playground awaits.
        </p><p
          class="text-text-secondary relative mb-0 w-full shrink-0 text-center font-mono text-sm leading-[1.25] font-normal tracking-[-0.28px]"
        >
          Join thousands of creators to build something uniquely yours, and <br
          /> discover the creativity of the Nothing Community.
        </p>
      </div>
    </div><div class="col-span-1 row-span-1"></div><div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <a
        class="group border-border-default flex aspect-square h-[70%] cursor-pointer items-center justify-center rounded-full border-[1.5px] border-dashed"
        href="/creator/XoGJrNdgVTYMWcLt"
        ><img
          src="https://d1ynhm1b70kdwn.cloudfront.net/avatars/SCpW0kXTM2p198sGwUjyid0CYNvtVVDFys0eUutV.jpg"
          alt="Keith"
          class="h-[70%] w-[70%] rounded-full"
          style="transition:transform 300ms cubic-bezier(0.4, 0, 0, 1);transform:scale(1)"
        /></a>
    </div><div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <a
        class="flex h-3/5 items-center justify-center"
        href="detail/toy/e9RUcQ7JFRgfF1Q1"
        ><div class="relative flex h-full w-full items-center justify-center">
          <div
            class="relative aspect-square max-h-full max-w-full overflow-hidden rounded-lg"
          >
            <div></div>
          </div>
        </div></a>
    </div><div
      class="flex aspect-square w-full items-center justify-center overflow-hidden sm:aspect-[4/3]"
    >
      <a
        class="flex h-full w-full items-center justify-center p-[10%]"
        href="detail/eq/hleiQ6PV7lk8XvqP"
        ><div
          class="relative flex aspect-square h-full items-center justify-center relative h-[90%] transition-transform duration-600 ease-out hover:scale-115"
        >
          <img
            class="absolute right-0 bottom-0 h-4 w-4 translate-x-1/2 translate-y-1/2 rounded-full sm:h-6 sm:w-6 md:h-8 md:w-8"
            src="https://d1ynhm1b70kdwn.cloudfront.net/avatars/ISzzZfEI1qojDAo80rFj2x7NqKRKC8UM9IFuB3CW.jpg"
          /><div
            class="flex h-full w-full items-center justify-center overflow-hidden rounded border-[1px] border-[#C8C8C8] sm:rounded-md md:rounded-xl"
            style="background:#e3e3e3;background-image:linear-gradient(to right, #C8C8C8 0.7px, transparent 0.7px),
                linear-gradient(to bottom, #C8C8C8 0.7px, transparent 0.7px);background-size:7px 7px;background-repeat:repeat"
          >
            <canvas
              class="inset-0"
              width="122"
              height="38"
              style="width: 122.375px; height: 38.2422px;"></canvas>
          </div>
        </div></a>
    </div>
  </div><div class="pointer-events-none grid grid-cols-3 grid-rows-1">
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-end justify-self-start"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg
    ><svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-end justify-self-center"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg
    ><svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="text-icon-disabled h-4 w-4 self-end justify-self-end"
      ><path
        d="M8.00195 0C8.2781 1.20706e-08 8.50195 0.223858 8.50195 0.5V7.49707H15.5C15.7761 7.49707 16 7.72093 16 7.99707C15.9998 8.27306 15.776 8.49707 15.5 8.49707H8.50195V15.5C8.50195 15.7761 8.2781 16 8.00195 16C7.72581 16 7.50195 15.7761 7.50195 15.5V8.49707H0.5C0.223967 8.49707 0.000177215 8.27306 0 7.99707C0 7.72093 0.223858 7.49707 0.5 7.49707H7.50195V0.5C7.50195 0.223858 7.72581 -2.58769e-10 8.00195 0Z"
        fill="currentColor"></path></svg>
  </div>
</div>

