---
// Contact page
import Layout from "@/layouts/BaseLayout.astro";
import { SITE_TITLE } from "../consts";

---

<Layout title=`Contact - ${SITE_TITLE}`>
  <main class="container-fluid py-5 px-4 bg-gray-100 dark:bg-gray-900">
    <div class="container mx-auto">
      <h1 class="text-4xl md:text-5xl font-bold mb-2 text-gray-900 dark:text-white">Contact</h1>
      <p class="text-xl text-gray-600 dark:text-gray-300">Get in touch with me.</p>

      <pre>
        - Display your email address clearly (contact form replaced with email).
        - Highlight why someone should contact you (services offered).
        - Include Social Media/GitHub icons for additional ways to connect.
      </pre>
    </div>
  </main>
</Layout>

