@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@variant dark (&:where(.dark, .dark *));

@layer base {
  /* fixes html2canvas screenshot issue with tailwind-preflight.css (this causes text misalign with display-block elements)*/
  img {
    display: initial;
  }
}

@import "./tailwind--basic.css";

@import "./tailwind--jy.css";

/* @plugin "@tailwindcss/typography"; */
