---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Page Not Found">
  <main class="d-flex flex-column align-items-center justify-content-center">
    <h1>(╯°□°）╯ ︵ <span>404: not_found</span></h1>
    <a href="/" class="back">go_home</a>
  </main>
</Layout>
<style>
  span {
    display: inline-block;
    rotate: 180deg;
    font-family: monospace;
  }
</style>
