---
import Layout from "../layouts/Layout.astro";

import { RESUME_LINK } from "../consts";
---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <section class="container py-3">
      <div class="row">
        <div class="col col-md-7">
          <h2>About Me Welcome to My Portfolio!</h2>
          <p>
            [draft] Welcome to my digital portfolio! I'm Jasper, and I'm
            thrilled to have you here. This space is not just a showcase of my
            professional journey; it's a canvas where my passions, skills, and
            dreams blend to create a vivid picture of who I am and what I do.
          </p>
          <a href={RESUME_LINK} class="btn btn-primary">Download My Resume</a>
        </div>
      </div>
    </section>
    
  </main>
</Layout>
