---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <section class="container">
      <h2>
        About Me

        <pre class="d-inline-flex">(b ﾟ vﾟ)ノ</pre> Welcome to My Portfolio!
      </h2>
      <p>
        [draft] Welcome to my digital portfolio! I'm Jasper, and I'm thrilled to
        have you here. This space is not just a showcase of my professional
        journey; it's a canvas where my passions, skills, and dreams blend to
        create a vivid picture of who I am and what I do.
      </p>
      <a href="#" class="btn btn-primary">Download My Resume</a>
    </section>
  </main>
</Layout>
