---
import Layout from "../layouts/Layout.astro";

import ContactForm from "../components/ContactForm.astro";

---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    
    <section class="container py-3">
      <div class="row">
        <div class="col col-md-7">
          <h2>Contact Me</h2>

          <ul>
            <li>email: jаѕреr.уzh@ɢmаіl.сom</li>
            <li>phone: +６０１３ ３９１ ２１０５ [hide with unicode?]</li>
          </ul>

          <h4>or drop me a message via email</h4>

          <ContactForm />
        </div>
      </div>
    </section>
  </main>
</Layout>
