---
import Layout from "../layouts/Layout.astro";

import { LANDING_TITLE, LANDING_DESC } from "../consts";
import WorkList from "../components/WorkList.astro";
---

<Layout>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <section id="landing">
      <div class="container">
        <div class="landing_layout">
          <div
            class="landing_title bg-secondary text-start p-4"
            style="aspect-ratio: 4/3"
          >
            <h1 class="display-1">{LANDING_TITLE}</h1>

            <p class="h3 col-md-6">{LANDING_DESC}</p>
          </div>

          <div class="landing_image bg-light">
            <img src="/placeholder.png" alt="THIS" />
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="landing_layout" style="gap: 0">
          <div class="about_image bg-secondary p-4">
            <img src="/placeholder.png" width="260" alt="" />
          </div>
          <div class="about_content bg-secondary p-4" style="aspect-ratio: 1/1">
            <p>
              With 8 years of experience in web development, I have had the
              opportunity to work with Top Marketing Agency in Malaysia,
              Fishermen, and diverses clients around the industries. I have been
              fortunate to have... Also an found my calling...?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="work" class="w-100">
      <div class="container">
        <div class="text-bg-secondary p-4">
          <WorkList />
        </div>
      </div>
    </section>

    <section id="contact" class="w-100">
      <div class="container">
        <div class="text-bg-secondary p-4 d-flex flex-column justify-content-between" style="aspect-ratio:3/1">
          <h2>Wanna reach out for a chat?</h2>

          <div class="text-end">

            <a href="mailto:jasper.yzh@gmail.com">-> jasper.yzh@gmail.com</a>
          </div>
        </div>
      </div>

      <!-- <SectionCta /> -->
    </section>
  </main>
</Layout>
