---
import Layout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../consts";

import ComponentSketchHomepage from "../pages/sketches/component-sketch-homepage.astro";
---

<Layout title="Homepage" description={SITE_DESCRIPTION}>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <figure class="text-center">
      <ComponentSketchHomepage />
      <figcaption class="figure-caption badge bg-secondary my-3">
        Mesh Gradient: colours goes whee~
      </figcaption>
    </figure>
  </main>
</Layout>
