---
import Layout from "../layouts/Layout.astro";

import EntriesList from "../components/EntriesList.astro";
import SectionCta from "../components/SectionCta.astro";
// import ContactForm from "../components/ContactForm.astro";
---

<Layout large_banner={true}>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <section class="container">
      <h2>Latest Posts</h2>
      <div class="masonry__layout">
        <EntriesList sort="desc" limit={6} />
      </div>
    </section>

    <!-- <section id="cta" class="my-5">
      <SectionCta />
    </section> -->
  </main>
</Layout>
