---
import Layout from "@/layouts/BaseLayout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout title="Homepage" description={SITE_DESCRIPTION}>
  <main class="d-flex flex-column align-items-center justify-content-center">
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="/bootstrap/examples/heroes/bootstrap-themes.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
            WebDeveloper; DIYer; Learner; for growth

            <i class="bi bi-1-circle"></i> hello world
          </h1>
          <p class="lead">
            Quickly design and customize responsive mobile-first sites with
            Bootstrap, the world’s most popular front-end open source toolkit,
            featuring Sass variables and mixins, responsive grid system...
          </p>
        </div>
      </div>
    </div>

    <section id="about">
      <div class="container">
        <div class="landing_layout" style="gap: 0">
          <div class="about_image bg-secondary p-4">
            <img src="/placeholder.png" width="260" alt="" />
          </div>
          <div class="about_content bg-secondary p-4">
            <p>
              With 8 years of experience in web development, I have had the
              opportunity to work with Top Marketing Agency in Malaysia,
              Fishermen, and diverses clients around the industries. I have been
              fortunate to have... Also an found my calling...?
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="work" class="w-100">
      <div class="container">
        <div class="text-bg-secondary p-4">
          <a href="/work/paramount-property">
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="card-body">
                  <h5 class="card-title">Paramount Property</h5>

                  <div class="d-flex align-items-end">
                    <!-- <p class="card-text me-3 mb-0">Website</p> -->
                    <p class="card-text me-3 mb-0">
                      Web Development / UIUX / Website Admin
                    </p>
                    <p class="card-text ms-auto">
                      <i class="bi bi-arrow-up-right h2"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <a href="/work/petrosains">
            <div class="card mb-3 w-100">
              <div class="row g-0">
                <div class="card-body">
                  <h5 class="card-title">Petrosains</h5>

                  <div class="d-flex align-items-end">
                    <!-- <p class="card-text me-3 mb-0">Website</p> -->
                    <p class="card-text me-3 mb-0">Web Development / UIUX</p>
                    <p class="card-text ms-auto">
                      <i class="bi bi-arrow-up-right h2"></i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <!-- <a href="/work/paramount-property">
            <div class="card mb-3 w-100">
                <div class="row g-0">
                    <div class="card-body">
                        <h5 class="card-title">Paramount Property</h5>
        
                        <div class="d-flex align-items-end">
                            <p class="card-text me-3 mb-0">Website</p>
                            <p class="card-text me-3 mb-0">
                                Web Development / UIUX / Web Admin
                            </p>
                            <p class="card-text ms-auto">
                                <i class="bi bi-arrow-up-right h2"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a> -->

          <style>
            .card {
              margin-inline: auto;
              margin-block: 1rem;
              width: 100%;
              max-width: 720px;
            }
          </style>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container my-5">
        <div class="bg-dark text-secondary px-5 pb-5 rounded-5">
          <div class="py-5">
            <h2 class="display-4 fw-bold text-white">
              Wanna reach out for a chat?
            </h2>
            <div class="col-6">
              <p class="fs-5 mb-4">
                Quickly design and customize responsive mobile-first sites with
                Bootstrap, the world’s most popular front-end open source
                toolkit, featuring Sass variables and mixins, responsive grid
                system, extensive prebuilt components, and powerful JavaScript
                plugins.
              </p>

              <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button
              type="button"
              class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
              >Custom button</button
            >
            <button type="button" class="btn btn-outline-light btn-lg px-4"
              >Secondary</button
            >
          </div> -->
            </div>
            <div class="col">
              <div class="ms-auto me-0">
                <ul>
                  <a href="mailto:jasper.yzh@gmail.com"
                    >-> jasper.yzh@gmail.com</a
                  >
                  <li>email: jаѕреr.уzh@ɢmаіl.сom</li>
                  <li>phone: +６０１３ ３９１ ２１０５</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
