---
import Layout from "@/layouts/Layout.astro";
import ToolScreenCapture from "@/components/Tool__ScreenCapture.astro";

---

<Layout
  title="Classless CSS test"
  description="Test page for testing out classless CSS with TailwindCSS"
>
  <main class="container">
    <header>
      <h1>Screen Capture with Browser API: MediaRecorder</h1>
      <p>
        Screen capture tool for capturing and exporting sketches with MediaRecorder API.
      </p>
    </header>

    <ToolScreenCapture />
    </div>
  </main>
</Layout>
  