---
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="pagination">
  {
    prevUrl && (
      <Link href={prevUrl} class="prev">
        Newer
      </Link>
    )
  }
  {
    nextUrl && (
      <Link href={nextUrl} class="next">
        Older
      </Link>
    )
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
  }
  a.next:only-child {
    margin-left: auto;
    margin-right: 0;
  }
</style>
