---
// import Link from "./Link.astro";

import Button from "@/components/starwind/button";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="pagination">
  {
    prevUrl && (
      <Button href={prevUrl} class="prev">
        Newer
      </Button>
    )
  }
  {
    nextUrl && (
      <Button href={nextUrl} class="next">
        Older
      </Button>
    )
  }
</nav>
