---
const { href, label, onClick } = Astro.props;
---

<a href={href} class="btn btn-secondary my-3" onclick={onClick}>
  <i class="bi bi-arrow-left"></i>
  {label}
</a>

<!-- <style>
    .btn {
        margin-top: 1rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 0.25rem;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #0056b3;
    }
</style> -->
