<div class="h-100 p-5 bg-body-tertiary border rounded-3">
  <h2>Check out my portfolio too!</h2>
  <p>
    Or, keep it light and add a border for some added definition to the
    boundaries of your content.
  </p>
  <a href="/portfolio" class="btn btn-primary">Go to Portfolio</a>
</div>
