<a href="/work/paramount-property">
    <div class="card mb-3 w-100 ">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">Paramount Property</h5>

                <div class="d-flex align-items-end">
                    <!-- <p class="card-text me-3 mb-0">Website</p> -->
                    <p class="card-text me-3 mb-0">
                        Web Development / UIUX / Website Admin
                    </p>
                    <p class="card-text ms-auto">
                        <i class="bi bi-arrow-up-right h2"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="/work/petrosains">
    <div class="card mb-3 w-100">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">Petrosains</h5>

                <div class="d-flex align-items-end">
                    <!-- <p class="card-text me-3 mb-0">Website</p> -->
                    <p class="card-text me-3 mb-0">
                        Web Development / UIUX
                    </p>
                    <p class="card-text ms-auto">
                        <i class="bi bi-arrow-up-right h2"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</a>
<!-- <a href="/work/paramount-property">
    <div class="card mb-3 w-100">
        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">Paramount Property</h5>

                <div class="d-flex align-items-end">
                    <p class="card-text me-3 mb-0">Website</p>
                    <p class="card-text me-3 mb-0">
                        Web Development / UIUX / Web Admin
                    </p>
                    <p class="card-text ms-auto">
                        <i class="bi bi-arrow-up-right h2"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</a> -->

<style>
    .card {
        margin-inline: auto;
        margin-block: 1rem;
        width: 100%;
        max-width: 720px;
    }
</style>