---
import Flashcards from "@/components/exercises/Flashcards.vue"; // Import the Vue component
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Flash Cards</title>
    </head>
    <body>
        <h1>Exercise Page - Flash Cards</h1>
        <p>This page contains an interactive Flash Cards component.</p>

        <pre>
            1. 5 questions
            2. 10 seconds per question
            3. 1 point per correct answer
            4. 0 points for incorrect answers
            5. 0 points for not answering
            6. final score
            7. send score
            8. show leaderboard, show user top-score, show user position, show user name
            9. Redo the quiz, or go back to home, or CTA
            </pre>

        <hr />
        <!-- Render the QuizGame Vue component here -->
        <Flashcards client:load />
    </body>
</html>
