---
import "@/styles/global.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import Head from "./Head.astro";

const today = new Date();

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string;
}

const { title, description } = Astro.props as Props;

import { Debug } from "astro:components";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en" class="transition-theme">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head title={title} description={description} />
  </head>
  <body class="flex flex-col min-h-screen">
    <header
      class="fixed top-0 left-0 right-0 bg-background z-100 shadow-sm shadow-slate-400/50 dark:shadow-slate-800/50"
    >
      <div class="container container--grid mx-auto max-w-7xl px-4">
        <Navbar />
      </div>
    </header>

    <main class="flex-grow pt-24">
      <slot />
    </main>

    <!-- Footer component -->
    <footer class="bg-slate-900 py-16 mt-auto overflow-clip">
      <div class="container container--grid mx-auto max-w-7xl px-4 ">
        <Footer />
      </div>
    </footer>
  </body>
</html>

<style>
  /* Add any global styles needed for the layout */
  .flex-grow {
    flex: 1 0 auto;
  }
</style>
