---
import "@/styles/starwind.css";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";

import Head from "./Head.astro";

const today = new Date();

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string;
}

const { title, description } = Astro.props as Props;

import { Debug } from "astro:components";

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Head title={title} description={description} />
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="mb-4">
      <div class="container mx-auto">
        <Navbar />
        <hr class="mt-2 border-gray-200" />
      </div>
    </header>

    <main class="flex-grow">
      <slot />
    </main>

    <!-- Footer component -->
    <Footer />
  </body>
</html>

<style is:global>
  /* Add any global styles needed for the layout */
  .flex-grow {
    flex: 1 0 auto;
  }
</style>
