---
// source: https://getbootstrap.com/docs/5.3/examples/footers/

import EmojiGreeting from "../components/EmojiGreeting.astro";
import { SITE_TITLE, SITE_FOOTER_ABOUT, SITE_YEAR } from "../consts";
---

<footer class="pt-5 text-center text-md-start">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-md-2 d-flex justify-content-center justify-content-md-end align-items-md-end">
        <div class="--flip">
          <EmojiGreeting />
        </div>
      </div>
      <div class="col-12 col-md-6 order-md-1">
        <p set:html={SITE_FOOTER_ABOUT} />
        <p class="copy">
          &copy;{SITE_YEAR}
          {SITE_TITLE}
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  .copy {
    font-size: var(--fs-small);
  }

  footer {
    background-color: var(--bg-brand);
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    overflow: hidden;
  }
  /* footer {
    &:hover .--flip,
    &:focus .--flip {
      transform: scaleX(1);
    }
  } */
  @media screen and (min-width: 768px) {
    footer {
      padding: 3rem;
      padding-bottom: 1rem;
    }

    .--flip {
      /* transition: transform 0.3s ease; */
      transform: scaleX(-1);
      transform-origin: center;
    }
  }
</style>
