---
// source: https://getbootstrap.com/docs/5.3/examples/footers/

import EmojiGreeting from "../components/EmojiGreeting.astro";
import { SITE_TITLE, SITE_FOOTER_ABOUT, SITE_YEAR } from "../consts";


const today = new Date();
---

<footer class="py-5">
  <div class="container">
    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>&copy; {today.getFullYear()} JasperYong.com</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a
            class="link-body-emphasis"
            href="https://github.com/jasperyzh/"
            target="_blank"
          >
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li class="ms-3">
          <a
            class="link-body-emphasis"
            href="https://www.instagram.com/jasperyzh/"
            target="_blank"
          >
            <i class="bi bi-instagram"></i>
          </a>
        </li>
        <li class="ms-3">
          <a
            class="link-body-emphasis"
            href="https://www.linkedin.com/in/jaspery/"
            target="_blank"
          >
            <i class="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
