---
// source: https://getbootstrap.com/docs/5.3/examples/navbars/

import { SITE_TITLE } from "../consts";

import { Image } from "astro:assets";
import img_banner from "../assets/images/240830-blog-banner.jpg";

export interface Props {
  large_banner?: boolean;
}

const { large_banner } = Astro.props as Props;
---

<header>
  <!-- pagebanner -->
  <div class={`pagebanner page-banner${large_banner ? " page-banner--large" : ""}`}>
    <!-- insert banner image -->
    <!-- <Image src={img_banner} alt="#" width="3000" height="1000" /> -->

  </div>
</header>

<nav class="navbar navbar-expand-sm">
  <div class="container header_layout">
    <!-- logo -->
    <a class="navbar-brand" href="/">
      <div class="logo">{SITE_TITLE}</div>
    </a>

    <!-- menu_toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar_primary"
      aria-controls="navbar_primary"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- menu -->
    <div class="collapse navbar-collapse" id="navbar_primary">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/posts">blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/portfolio">portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">about</a>
        </li>
      </ul>
    </div>

    <!-- soc_med -->
    <div class="nav-social">
      <a
        class="text-body-secondary"
        target="_blank"
        href="https://www.instagram.com/jasperyzh/"
        ><i class="mx-2 bi bi-instagram"></i></a
      >
      <a
        class="text-body-secondary"
        target="_blank"
        href="https://www.instagram.com/jasperyzh/"
        ><i class="mx-2 bi bi-github"></i></a
      >
    </div>
  </div>
</nav>
<style>
  header {
    margin-top: 1rem;
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    overflow: hidden;
  }
  nav {
    position: sticky;
    top: 0;
    background-color: var(
      --nav-bg
    ); /* Optional: adds a background to the nav */
    z-index: 999;

    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
    overflow: hidden;
    margin-bottom: 1rem;
  }
  .pagebanner {
    aspect-ratio: 6.854/1.618;
    background-image: url('../assets/images/240830-blog-banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    filter:brightness(1.4) contrast(1.1) opacity(.8);
  }
</style>
