---
import { SITE_TITLE } from "@/consts";
---

<header class="mb-5">
  <nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbars-primary"
        aria-controls="navbars-primary"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-lg-flex" id="navbars-primary">
        <a class="navbar-brand" href="/">
          <div class="logo">{SITE_TITLE}</div>
        </a>
        <ul class="navbar-nav col justify-content-lg-end">
          <li class="nav-item">
            <a class="nav-link" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#work">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
