---
import "../css/global.scss";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Head from "./Head.astro";
// import Link from "./Link.astro";
// import EffectGrain from "./_EffectGrain.astro";

import Header from "./Header.astro";
import Footer from "./Footer.astro";

export interface Props {
  empty_canvas?: boolean;
  title?: string;
  description?: string;
  image?: string;
  default_footer?: boolean;
}

const {
  empty_canvas = false,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  default_footer = true,
  head,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head {head} />

  <body>
    <div class="wrapper">
      <Header />

      <slot />

      <Footer />
    </div>

    <script is:inline src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

<style>
  html,
  body {
    min-height: 100%;
    margin: 0;
  }

  .wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, main, and footer rows */
    min-height: 100vh;
  }
</style>
