---
import "../global/global.scss";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Head from "./Head.astro";
// import Link from "./Link.astro";
// import EffectGrain from "./_EffectGrain.astro";

import Header from "./Header.astro";
import Footer from "./Footer.astro";

export interface Props {
  empty_canvas?: boolean;
  title?: string;
  description?: string;
  image?: string;
  default_footer?: boolean;
}

const {
  empty_canvas = false,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  default_footer = true,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} {image} />

  <body class="sticky-footer">
    <div class="wrapper">
      {!empty_canvas && <Header />}

      <slot />

      {!empty_canvas && default_footer && <Footer />}
    </div>
    <script>
      import "bootstrap";
    </script>
  </body>
</html>