---

import Layout from "@/layouts/Layout.astro";

---

<Layout
  title="Vanilla View Transition"
  description="Demonstration of vanilla view transition."
>
  <main class="container">
    <h1>Vanilla View Transition</h1>
    <p> 
      Demonstration of vanilla view transition. 
      <br />+ How does Preloader play into this?
    </p>
<pre>
  [How View Transitions actually work](https://www.youtube.com/watch?v=LAozCuoZXm0) 
</pre>
    
  </main>
</Layout>