---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Docker Wordpress"
  description="Docker Wordpress quickstart setup"
>
  <main class="container">
    <h1>Docker Wordpress</h1>
    <p>Docker Wordpress quickstart setup.</p>
    <p>
      <a href="https://www.docker.com/products/docker-desktop/" target="_blank"
        >Docker Desktop</a
      >
    </p>
  </main>
</Layout>
